body {
  margin: 0;
  padding: 0;
  background-color: rgb(245, 247, 253);
  overflow: hidden;
  font: Rubik;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 80px;
}
.container {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}
.banner {
  height: 8vh;
}
.prompts {
  border-radius: 25px;
  background-color: rgb(255, 255, 255);
  border: 3px;
  border-style: solid;
  border-color: rgb(22, 95, 48);
  margin: auto;
  margin-bottom: 30px;
  width: 800px;
  padding: 20px;
}
.textbox {
  padding: 10px;
  border-radius: 25px;
  border-style: solid;
  border-color: rgba(53, 53, 53, 0.3);
}
.textbox1 {
  height: 40px;
  font-size: 16px;
  margin-bottom: 20px;
}
.textTitle {
  padding: 2.5px;
}
.selection {
  height: 50px;
  font-size: 14px;
  width: 200px;
}
.textbox2 {
  height: 30px;
  font-size: 14px;
  width: 250px;
}
.textbox3 {
  height: 250px;
  width: 100%;
}
.container2 {
  margin: auto;
}
.button {
  border-radius: 25px;
  text-align: center;
  width: 100px;
  height: 50px;
}
.button2 {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 480px) {
  body {
    font-size: 10px;
  }
  .container {
    width: 100%;
    margin: 0;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  body {
    font-size: 12px;
  }
  .container {
    width: 100%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  body {
    font-size: 14px;
  }
  .container {
    width: 100%;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  body {
    font-size: 16px;
  }
  .container {
    width: 100%;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1440px) {
  body {
    font-size: 18px;
  }
  .container {
    width: 100%;
  }
}
@media only screen and (min-width: 1441px) {
  body {
    font-size: 20px;
  }
  .container {
    width: 100%;
  }
}
