body {
  margin: 0;
  padding: 0;
  background-color: rgb(68, 70, 84);
  overflow: hidden;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 80px;
  background-color: rgb(255, 255, 255);
  border: 3px solid green;
}
.container {
  display: flex;
  flex-direction: column;
  border: 3px solid green;
}
.banner {
  height: 80px;
  border: 3px solid green;
}
@media only screen and (max-width: 480px) {
  body {
    font-size: 10px;
  }
  .container {
    width: 100%;
    margin: 0;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  body {
    font-size: 12px;
  }
  .container {
    width: 100%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  body {
    font-size: 14px;
  }
  .container {
    width: 100%;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  body {
    font-size: 16px;
  }
  .container {
    width: 100%;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1440px) {
  body {
    font-size: 18px;
  }
  .container {
    width: 100%;
  }
}
@media only screen and (min-width: 1441px) {
  body {
    font-size: 20px;
  }
  .container {
    width: 100%;
  }
}
