body {
  background-color: rgb(68, 70, 84);
}
.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  text-align: center;
}

.dropdown {
  width: 25%;
  padding: 10px;
  text-align: center;
}

.textbox {
  text-align: center;
}
